# Ortam
.venv/
.env

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/

# Proje Bağımlılıkları (İçerdeki klasörde olsa da garanti olsun)
node_modules/
dist/
dist-ssr/
*.local

# Diğer kalıntılar
*.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

